# Node modules
node_modules/

# package lock files
package-lock.json

# build folders
dist/
build/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# NestJS build
coverage/

# Ignore all microservice dependencies
api-gateway/node_modules/
auth-service/node_modules/
user-service/node_modules/
visitor-service/node_modules/

# Ignore lock files
api-gateway/package-lock.json
auth-service/package-lock.json
user-service/package-lock.json
visitor-service/package-lock.json
